<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Linkin Park</title>
    <link rel="stylesheet" href="/css/homestyle.css">
  </head>
  <body>
    <div id="headdiv">
      <h1></h1>
      <img id="topsymbol" src="/img/linking_park_symbol">
    </div>
    <nav>
     <a class="wobble-vertical" href="/">Home</a>
     <a class="wobble-vertical" href="/about">About Linkin Park</a>
     <a class="wobble-vertical" href="/disography">Disography</a>
     <a class="wobble-vertical" href="/tour">Tour Dates</a>
    </nav>
    <h1 class="aboutheader">About Linkin Park</h1>
      <p class="about">Linkin Park is an American rock band from Agoura Hills, California. Formed in 1996, the band rose to international fame with their debut album Hybrid Theory, which was certified Diamond by the RIAA in 2005 and multi-platinum in several other countries.
        Their following studio album Meteora continued the band's success, topping the Billboard 200 album chart in 2003, and was followed by extensive touring and charity work around the world. In 2003, MTV2 named Linkin Park the sixth-greatest band of the music video era and the third-best of the new millennium.
        Billboard ranked Linkin Park No. 19 on the Best Artists of the Decade chart.[4] The band was recently voted as the greatest artist of '00s in a Bracket Madness poll on VH1.
        Having adapted nu metal and rap metal to a radio-friendly yet densely layered style in Hybrid Theory and Meteora, the band explored other genres in their next studio album, Minutes to Midnight (2007).The album topped the Billboard charts and had the third-best debut week of any album that year. The band continued to explore a wider variation of musical 
        types in their fourth album, A Thousand Suns (2010), layering their music with more electronic sounds and beats. Their fifth album, Living Things (2012), combines musical elements from all of their previous records. Their sixth and most recent album, The Hunting Party (2014), returned to a heavier rock sound.
        The band has collaborated with several other artists, most notably with rapper Jay-Z in their mashup EP Collision Course, and many others on the remix albums Reanimation and Recharged. Linkin Park has sold over 60 million albums worldwide and has won two Grammy Awards.
      </p>
      <img id="bandbench"  src="/img/Bandbench">
    <div class="aboutfooter">
    </div>

  </body>
</html>

