<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Linkin Park Albums</title>
    <link rel="stylesheet" href="/css/homestyle.css">
  </head>
  <body>
    <div id="headdiv">
      <h1></h1>
      <img id="topsymbol" src="/img/linking_park_symbol">
    </div>
    <nav>
      <a class="wobble-vertical" href="/">Home</a>
      <a class="wobble-vertical" href="/about">About Linkin Park</a>
      <a class="wobble-vertical" href="/disography">Disography</a>
      <a class="wobble-vertical" href="/tour">Tour Dates</a>
    </nav>
    <h1 id="headerAlbums">Albums</h1>
      <img id="hybrid" src="/img/linkinpark-hybridtheory.jpg">
      <img id="meteora" src="/img/Meteora.jpg">
      <img id="mtm" src="/img/minutes-to-midnight.jpg">
      <img id="ts" src="/img/A_Thousand_Suns_Cover2.jpg">
      <img id="living" src="/img/living_things.jpg">
      <img id="hunting" src="/img/huntingparty.jpg">
    <p id="p1">Hybrid Theory(2000)</p>
    <p id="p2">Meteora(2003)</p>
    <p id="p3">Minutes To Midnight(2007)</p>
    <p id="p4">A Thousand Suns(2010)</p>
    <p id="p5">Living Things(2012)</p>
    <p id="p6">The Hunting Party(2014)</p>
    <img id="New" src="/img/New-2.png">
    <div class="aboutfooter"></div>
  </body>
</html>
