<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Linkin Park</title>
    <link rel="stylesheet" href="/css/homestyle.css">
  </head>
  <body>
    <div id="headdiv">
      <h1></h1>
      <img id="topsymbol" src="/img/linking_park_symbol">
    </div>
    <nav>
      <a class="wobble-vertical" href="/">Home</a>
      <a class="wobble-vertical" href="/about">About Linkin Park</a>
      <a class="wobble-vertical" href="/disography">Disography</a>
      <a class="wobble-vertical" href="/tour">Tour Dates</a>
    </nav>
    <img class="Linkin" src="/img/Linkinpark_name">
    <iframe class="video1" width="560" height="315" src="//www.youtube.com/embed/Nym1P-BO_ws" frameborder="0" allowfullscreen></iframe>
    <div class="footer">
      <footer>
        <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
      </footer>
    </div>
  </body>
</html>

