<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Linkin Park</title>
    <link rel="stylesheet" href="/css/homestyle.css">
  </head>
  <body>
    <div id="headdiv">
      <h1></h1>
      <img id="topsymbol" src="/img/linking_park_symbol">
    </div>
    <nav>
      <a class="wobble-vertical" href="/">Home</a>
      <a class="wobble-vertical" href="/about">About Linkin Park</a>
      <a class="wobble-vertical" href="/disography">Disography</a>
      <a class="wobble-vertical" href="/tour">Tour Dates</a>
    </nav>
      <img id="mer" src="/img/news-mermaid-large.png">
      <img id="mersmall" src="/img/news-mermaid-small.png">
      <img id="tourlink" src="/img/tourlink.jpg">
      <a href="http://www.songkick.com/artists/96404-linkin-park">
        <div id="tourdiv"></div>
      </a>
    <div id="tourfooter"></div>
  </body>
  </html>
